// colors all
$white: #ffffff;
$light-gray: #f0f0f0;
$dark-gray: #474747;
$border-light: #e5e9ec;
$blue: #30a4dc;
$blue-border: #cbe8f6;
$yellow: #ffcc00;
$darker: #333333;
$darkest: #191919;
$black: #000000;

//colors font
$dark: #2e2e2e;
$gray:#a3a3a3;
$gray-text: #adadad;
$gray-text-border: #5c5c5c;
$blue-light-border: #c0ddeb;

$step: 45px;

$time: .3s;

// media
$mobile: 480px;
$tablet: 767px;
$desktop: 1200px;