.margin-bottom {
  margin-bottom: 100px;

  @media (max-width: $tablet) {
    margin-bottom: 70px;
  }
}

.souvenirs {

  .breadcrumbs {
    @media (max-width: $tablet) {
      display: none;
    }
  }
  
}

.partners-page {

  .advantages {
    margin-top: 70px;
  }
}

.js-tab {
  display: none;

  &--active {
    display: block;
  }
}