.clients {
  margin-top: $step;

  &__items {
    background: $white;
    padding: 30px 20px;
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;

    li {
      width: 14.285714%;
      display: inline-block;
      vertical-align: middle;

      img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }
}