.header {
  background: $white;
  box-shadow: 0 1px 20px rgba(0,0,0,.05);
  
  // TOP HEADER
  &__top {
    background: $darker;
    padding: 20px 0;
    @include clearfix;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__cities {
    width: 30%;
    float: left;

    @media (min-width: $tablet + 1) and (max-width: $desktop) {
      width: 35%;
    }

    li {
      padding-right: 15px;
      display: inline-block;
      color: $white;
      font-weight: 300;
      font-size: 13px;

      a {
        color: $gray-text;
        border-bottom: 1px solid $gray-text-border;

        &:hover {
          color: $white;
          border-bottom: transparent;
        }
      }
    }
  }

  &__top-menu {
    width: 70%;
    float: right;
    text-align: right;

    @media (min-width: $tablet + 1) and (max-width: $desktop) {
      width: 65%;
    }

    li {
      display: inline-block;
      padding-left: 35px;

      a {
        color: $white;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;

        &:hover,
        &.active {
          color: $blue;
        }
      }
    }
  }

  // MIDDLE HEADER
  &__base {
    padding-top: 30px;
    @include clearfix;

    @media (max-width: $tablet) {
      padding: 15px 0;
    }
  }

  &__logo-link {
    width: 50%;
    float: left;

    @media (min-width: $tablet + 1) and (max-width: $desktop) {
      width: 30%;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      font-size: 0;
      max-width: 100%;
      height: auto;

      @media (max-width: $tablet) {
        max-width: 90px;
      }
    }
  }

  &__logo-text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    color: #b8b8b8;
    font-size: 12px;
    text-transform: uppercase;

    @media (max-width: $desktop) {
      display: none;
    }
  }

  &__base-menu.menu-list {
    display: none;
    box-sizing: border-box;
    float: left;
    width: 74%;

    @media (min-width: $tablet + 1) and (max-width: $desktop) {
      width: 65%;
    }

    & > li {
      font-size: 12px;
      padding: 0px 12px;

      & > a {
        padding: 13px 0;
      }
    }
  }

  &__base-right {
    width: 50%;
    float: right;
    text-align: right;

    @media (max-width: $tablet) {
      width: 35%;
    }

    @media (min-width: $tablet + 1) and (max-width: $desktop) {
      width: 70%;
      padding-top: 10px;
    }
  }

  &__menu {
    margin-top: 30px;
    width: 100%;
    float: left;
    border-top: 1px solid $border-light;
    font-size: 0;

    .container {
      position: relative;
    }

    .menu-list {
      width: 95%;
      display: inline-block;
    }

    @media (max-width: $tablet) {
      display: none;
    }
  }


  // SEARCH
  &__search {
    width: 5%;
    display: inline-block;
    vertical-align: top;
    padding: 20px 0px;
    box-sizing: border-box;
    font-size: 0;
    text-align: right;

    form {
      display: inline-block;
      width: 98%;
      box-sizing: border-box;
      padding-right: 0;
    }

    &--open {
      width: 100%;
      padding: 9px 10px;
      background: $white;
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      z-index: 99999;

      form {
        padding-right: 30px;
        text-align: left;
      }
    }
  }

  &__search-box {
    display: inline-block;
    vertical-align: middle;
    width: 90%;

    svg {
      padding-right: 3px;
      display: inline-block;
      vertical-align: middle;
      line-height: 40px;
      cursor: pointer;

      path {
        fill: #bfbfbf;
        transition: $time all;
      }

      &:hover {
        path {
          fill: $black;
        }
      }
    }

    input[type="search"] {
      display: none;
      width: 90%;
      padding: 0;
      // display: inline-block;
      vertical-align: middle;
      border: none;
      outline: none;
      color: #8d8d8d;
      font-size: 16px;
      line-height: 40px;
    }
  }

  &__search--open &__search-box {

    svg {
      padding-right: 13px;
      cursor: default;

      path {
        fill: $black;;
      }
    }

    input[type="search"] {
      display: inline-block;
    }
  }

  &__search-btn {
    display: none;
    vertical-align: middle;
    width: 10%;
    text-align: right;
  }

  &__search--open &__search-btn {
    display: inline-block;
  }

  &__search-close {
    display: none;
    vertical-align: middle;
    width: 2%;
    min-width: 20px;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    text-align: right;
    cursor: pointer;

    svg {
      display: inline-block;
      vertical-align: middle;
      padding-top: 10px;
      padding-bottom: 10px;

      path {
        transition: $time all linear;
      }
      
      &:hover {
        path {
          fill: $black;
        }
      }
    }
  }

  &__search--open &__search-close {
    display: inline-block;
  }


  // SCROLL
  &--fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888888;
  }

  &--fixed &__top {
    display: none;
  }

  &--fixed &__base {
    padding: 20px 0;

    @media (max-width: $tablet) {
      padding: 15px 0;
    }
  }

  &--fixed &__logo-link {
    width: 16%;
    line-height: 40px;

    img {
      max-width: 107px;

      @media (max-width: $tablet) {
        max-width: 90px;
      }
    }

    @media (max-width: $tablet) {
      width: 55%;
      line-height: 0;
    }

    @media (min-width: $tablet + 1) and (max-width: $desktop) {
      width: 20%;
    }
  }

  &--fixed &__base-right {
    width: 10%;
    line-height: 40px;

    @media (max-width: $tablet) {
      width: 30%;
      line-height: 0;
    }

    @media (min-width: $tablet + 1) and (max-width: $desktop) {
      width: 15%;
      padding-top: 0;
    }
  }

  &--fixed &__logo-text {
    display: none;
  }

  &--fixed &__base-menu {
    display: block;

    @media (max-width: $tablet) {
      display: none;
    }
  }


  &--fixed .info-box {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    cursor: pointer;

    @media (max-width: $tablet) {
      margin: 0;
    }
  }

  &--fixed .info-box__wrap {
    display: none;
  }

  &--fixed .info-box--phone {

    .info-box__wrap--open {
      display: block;
      min-width: 200px;
      padding: 22px;
      box-sizing: border-box;
      text-align: center;
      line-height: 1.1;
      position: absolute;
      top: 80px;
      left: -85px;
    }

    .info-box__top {
      line-height: 24px;
      position: relative;

      &::before {
        border: 15px solid transparent;
        border-bottom: 15px solid $white;
        z-index: 99999999;
        position: absolute;
        top: -52px;
        left: 50%;
        margin-right: -15px;
        margin-left: -15px;
        content: '';
      }
    }
  }


  &--fixed .info-box__counter {
    display: block;
  }

  &--fixed &__menu {
    display: none;
  }

  &--fixed &__search {
    display: none;
  }

}