.header {
  background: $white;
  
  // TOP HEADER
  &__top {
    background: $darker;
    padding: 20px 0;

    @include clearfix;
  }

  &__cities {
    width: 30%;
    float: left;

    li {
      padding-right: 15px;
      display: inline-block;
      color: $white;
      font-weight: 300;
      font-size: 13px;

      a {
        color: $gray-text;
        border-bottom: 1px solid $gray-text-border;

        &:hover {
          color: $white;
          border-bottom: none;
        }
      }
    }
  }

  &__top-menu {
    width: 70%;
    float: right;
    text-align: right;

    li {
      display: inline-block;
      padding-left: 35px;

      a {
        color: $white;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;

        &:hover,
        &.active {
          color: $blue;
        }
      }
    }
  }

  // MIDDLE HEADER
  &__base {
    padding-top: 30px;
    @include clearfix;
  }

  &__logo-link {
    width: 50%;
    float: left;
  }

  img,
  &__logo-text {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    font-size: 0;
    max-width: 100%;
    height: auto;
  }

  &__logo-text {
    padding-left: 10px;
    color: #b8b8b8;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__base-right {
    width: 50%;
    float: right;
    text-align: right;
  }

  &__menu {
    margin-top: 30px;
    width: 100%;
    float: left;
    border-top: 1px solid $border-light;
  }

  &__search {
    display: none;
  }

}