.info-box {
  margin-left: 45px;
  padding-left: 30px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: left;
  position: relative;

  &::before {
    width: 25px;
    height: 25px;
    background:transparent url('../img/sprite.png') 0 0 no-repeat;
    background-size: 50px 25px;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
  }

  &--phone {
    margin-left: 0;
  }

  &--doc {
    cursor: default;

    &::before {
      background-position: -33px 0;
      left: 5px;
    }
  }

  &__top {
    color: $black;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
  }

  &__link {
    padding: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $blue-light-border;
    outline: none;
    transition: $time all linear;

    &:hover {
      border-color: transparent;
    }
  }

  &__counter {
    display: none;
    width: 17px;
    height: 17px;
    box-sizing: border-box;
    background: $yellow;
    border: 2px solid $white;
    border-radius: 50%;
    text-align: center;
    font-size: 8px;
    line-height: 15px;
    font-weight: normal;
    position: absolute;
    top: -7px;
    right: -1px;
  }
}