.order-success {
  padding-right: 120px;

  @media (max-width: $desktop) {
    padding-right: 0;
  }

  .h2 {
    padding-bottom: 25px;
  }

  p {
    color: #848484;
    font-size: 15px;
  }

  .btn {
    margin-top: 25px;

    @media (max-width: $desktop) {
      margin-top: 10px;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}