.order-help {

  &__item {
    display: block;
    margin-bottom: 10px;
    padding: 15px 35px;
    box-sizing: border-box;
    border: 1px solid $border;
    font-size: 0;

    &:hover {
      border-color: $blue;
    }
  }

  &__icon,
  &__text {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    width: 32%;
  }

  &__text {
    width: 68%;
    color: #252525;
    font-size: 18px;
    font-weight: normal;
  }

  &__item:hover &__text {
    color: $blue;
  }

}