.product {

  &__code {
    color: #848484;
    font-size: 16px;
  }

  &__body {
    margin-top: $step;

    @media (max-width: $tablet) {
      width: 100%;
      border: none;

      .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__body-wrap {
    border: 1px solid #d8d8d8;
    @include clearfix;

    @media (max-width: $tablet) {
      border: none;
    }
  }

  &__body--idea &__body-wrap {
    background: $white;
  }

  &__left,
  &__right {
    float: left;
    width: 50%;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      width: 100%;
    }

  }

  &__left {
    padding: 35px 50px;
    background: $white;
    border-right: 1px solid #d8d8d8;
    font-size: 0;
    
    @media (max-width: $tablet) {
      padding-left: 0;
      padding-right: 0;
      border-right: none;
      border-top: 1px solid #d8d8d8;
      border-bottom: 1px solid #d8d8d8;
    }

    @media (min-width: $tablet + 1) and (max-width: $desktop) {
      border-right: none;
      border-bottom: 1px solid #d8d8d8;
    }
  }

  &__body--idea &__left {
    border-right: none;
  }

  &__right {
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 50px;
    padding-bottom: 50px;

    @media (max-width: $tablet) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 20px;
    }
  }

  &__body--idea &__right {
    background: $light-gray;
    border-left: 1px solid #d8d8d8;
  }
}