.select {
  display: inline-block;

  background: $white;

  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label {
    display: none;
    padding: 15px 20px;
    padding-right: 40px;
    font-size: 15px;
  }

  input[type="radio"]:checked + label {
    display: block;
  }
}