.technology {
  margin-top: $step;

  .head {
    padding-bottom: 15px;
  }

  &__item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    background: $white;
  }

  &__img {
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    outline: none;
    
    img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  &__name {
    margin: 0 15px;
    @include gray-border-link;
  }
}
